<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gastos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gastos">
        <activity android:name=".Billing_screen_Activity"></activity>
        <activity android:name=".Refer_Earn_Activity" />
        <activity android:name=".User_Information_Activity" />
        <activity android:name=".elite_fragment.PrimeProfile" />
        <activity android:name=".deals_fragment.DealsProfileActivity" />
        <activity android:name=".Mainscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EnterPinActivity" />
        <activity android:name=".Account_verified_activity" />
        <activity android:name=".step_pin_activity" />
        <activity android:name=".getotp_activity" />
        <activity android:name=".login_phone_activity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>